@using Microsoft.AspNetCore.Identity
@using BlogSite.Areas.Identity.Pages.Account.Manage
<!--
* Copyright (c) 2022. Gavin Pease.
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
* associated documentation files (the "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
* of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
* following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial
* portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
* PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
* OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
-->
@inject SignInManager<Poster> SignInManager
@inject UserManager<Poster> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
            <span class="icon">
                <i class="fas fa-user"></i>
            </span>
            <span>@user.Name</span>
        </div>
        <div class="navbar-dropdown" id="accountDropdown">
            <!-- make links to all the pages in the /Account/Manage/ folder -->
            <a class=" navbar-item @ManageNavPages.IndexNavClass(ViewContext)" id="profile" href="/Identity/Account/Manage/Index">Profile</a>
            <a class=" navbar-item @ManageNavPages.EmailNavClass(ViewContext)" id="email" href="/Identity/Account/Manage/Email">Email</a>
            <a class=" navbar-item @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a>
            <a class=" navbar-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a>
            <a class=" navbar-item @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" href="/Identity/Account/Manage/PersonalData">Personal data</a>
        </div>
    </div>
    <div class="navbar-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="button is-rounded is-danger" style="border:0px;">Logout</button>
        </form>
    </div>
}
else
{
    <div class="navbar-item">

        <a class="nav-link button is-secondary is-rounded" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div class="navbar-item">
        <a class="nav-link button is-primary is-rounded" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}